.joke-api-container {
    text-align: center;
}

.joke-image-container {
    display: inline-block;
    width: 500px; /* Ancho deseado */
    height: 500px; /* Alto deseado */
    margin: 80px; /* Espacio alrededor de la imagen */
}

.joke-image-container img {
    max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
    max-height: 100%; /* La imagen se ajustará al alto del contenedor */
    display: block; /* Para eliminar el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Para centrar la imagen horizontalmente */
}

.reload-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1px; 
    /*Ajusta el espacio entre el botón y la imagen según sea necesario*/
    
}

.reload-button {
    padding: 5px 10px; /* Ajusta el tamaño del botón según sea necesario */
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
    background-color: #af15e6; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Ajusta la esquina del botón según sea necesario */
    cursor: pointer; /* Cambia el cursor al pasar el ratón por encima del botón */


}
.joke-facts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para que el contenido se centre verticalmente en la página */
    background-color: #61dafb; /* Color de fondo */
  }
  
  .fact-box {
    background-color: rgba(255, 255, 255, 0.7); /* Color de fondo con poca opacidad */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-bottom: 20px; /* Espacio entre el recuadro y el botón */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reload-button {
    background-color: rgba(255, 255, 255, 0.7); /* Color de fondo con poca opacidad */
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  .reload-button:hover {
    background-color: rgba(14, 8, 8, 0.9); /* Cambio de color de fondo al pasar el mouse */
  }
  