.containerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.formContainerStyle {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formItemStyle {
    margin-bottom: 10px; 
}

.buttonStyle {
    margin-top: 25px; 
    margin-bottom: 10px;
}

.labelStyle {
    display: flex;
    flex-direction: column;
}

.formPets {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.inputStyle {
    margin-top: 5px; 
}
